/* Keyframe animation for flashing effect */
@keyframes flash {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.animate-flash {
	animation: flash 1s ease-out;
}

/* Keyframe animation for expanding and moving an element */
@keyframes expandMove {
	0% {
		transform: scale(0.5) translateX(-120px);
		opacity: 0;
	}

	50% {
		transform: scale(1.1) translateX(0px);
		opacity: 1;
	}

	100% {
		transform: scale(1) translateX(0px);
		opacity: 1;
	}
}

.animate-expand {
	animation: expandMove 2s ease-in-out forwards;
}

.animate-expand-dialog {
	animation: expandMove 0.8s ease-in-out forwards;
}

/* Keyframe animation for floating effect */
@keyframes float {
	0%,
	100% {
		transform: translate(0, 0px);
	}

	60% {
		transform: translate(0, 12px);
	}
}

.animate-float {
	animation: float 5s ease-in-out infinite;
}

/* Keyframe animation for spinning effect */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate-spin {
	animation: spin 8s linear infinite;
	position: relative;
}

/* Keyframe animation for reverse spinning effect */
@keyframes spin-reverse {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

.animate-spin-reverse {
	animation: spin-reverse 12s linear infinite;
	position: absolute;
	transform: translate(-50%, -50%);
}
