@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layer for custom theme variables and global styles */
@layer base {
	:root {
		--background: #ebe8e8;
		--foreground: #131212;

		--card: #f7f2f2;
		--card-foreground: #131212;

		--popover: #f7f2f2;
		--popover-foreground: #131212;

		--primary: #458a7c;
		--primary-foreground: #ebe8e8;

		--secondary: #6e92b1;
		--secondary-foreground: #ebe8e8;

		--accent: #32589f;
		--accent-foreground: #ebe8e8;

		--muted: #c7c4c4;
		--muted-foreground: #535353;

		--danger: #b00020;
		--success: #00b05e;

		--border: #c7c4c4;
		--input: #f7f2f2;
		--ring: #131212;
	}

	.dark {
		--background: #131212;
		--foreground: #ebe8e8;

		--card: #1b1b1b;
		--card-foreground: #ebe8e8;

		--popover: #1b1b1b;
		--popover-foreground: #ebe8e8;

		--primary: #458a7c;
		--primary-foreground: #ebe8e8;

		--secondary: #285980;
		--secondary-foreground: #ebe8e8;

		--accent: #6086cd;
		--accent-foreground: #ebe8e8;

		--muted: #535353;
		--muted-foreground: #c7c4c4;

		--danger: #9d2a26;
		--success: #269d54;

		--border: #535353;
		--input: #1b1b1b;
		--ring: #ebe8e8;
	}

	* {
		box-sizing: border-box;
		border-color: var(--border);
		text-decoration: none;
	}

	html {
		background-color: var(--background);
		color: var(--foreground);
		overflow-x: hidden;
		scroll-behavior: smooth;
		margin: 0;
		padding: 0;
	}

	hr {
		border-color: var(--border);
	}

	h1 {
		font-size: 2rem;
		line-height: 2.5rem;
		font-weight: 700;
	}

	h2 {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 700;
	}

	h3 {
		font-size: 1.25rem;
		line-height: 1.75rem;
		font-weight: 600;
	}

	h4 {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 600;
	}

	h5 {
		font-size: 0.875rem;
		line-height: 1.25rem;
		font-weight: 600;
	}

	h6 {
		font-size: 0.75rem;
		line-height: 1rem;
		font-weight: 600;
	}
}

/* Components layer for custom reusable components */
@layer components {
	.card {
		background-color: var(--card);
		color: var(--card-foreground);
		border-radius: 1rem;
		padding: 1rem;
		border-width: 1px;
		border-color: var(--border);
	}

	.popover {
		background-color: var(--popover);
		color: var(--popover-foreground);
		border-radius: 1rem;
		padding: 1rem;
		border-width: 1px;
		border-color: var(--border);
		box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
		opacity: 60;
	}

	.section-container {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 1rem;
		background-color: var(--background);
		color: var(--card-foreground);
		border-radius: 1rem;
		border-width: 1px;
		border-color: var(--border);
	}

	.input-group {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.25rem;
	}

	.btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		gap: 0.25rem;
		border-radius: 1rem;
		border-color: var(--border);
		border-width: 1px;
		font-size: 0.8rem;
		font-weight: 600;
		outline: none;
		white-space: nowrap;
	}

	.btn:hover {
		opacity: 0.8;
	}

	.icon {
		transition: transform 0.3s ease-in-out;
	}

	.icon:hover {
		transform: scale(1.2);
	}

	/* Match background and foreground colors */
	.bg-primary {
		background-color: var(--primary);
		color: var(--primary-foreground);
	}

	.bg-secondary {
		background-color: var(--secondary);
		color: var(--secondary-foreground);
	}

	.bg-accent {
		background-color: var(--accent);
		color: var(--accent-foreground);
	}

	.bg-muted {
		background-color: var(--muted);
		color: var(--muted-foreground);
	}

	.bg-danger {
		background-color: var(--danger);
		color: var(--accent-foreground);
	}

	.bg-success {
		background-color: var(--success);
		color: var(--accent-foreground);
	}
}

/* Utilities layer for custom utility classes */
@layer utilities {
	::selection {
		background: var(--accent);
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

/* Support banner styling */
.banner.lgbtq-rights {
	background-color: #5c3963;
}

.banner.anti-racism {
	background-color: #1a1919;
}

.banner.mental-health {
	background-color: #285274;
}

.banner.climate-action {
	background-color: #287445;
}

/* Keyframe animation for sliding in an element */
@keyframes dialogSlideIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-slide-in {
	animation: dialogSlideIn 0.3s ease-out;
}

/* Keyframe animation for expanding and moving an element */
@keyframes expandFloat {
	0% {
		transform: scale(0.5) translateX(-120px);
		opacity: 0;
	}

	50% {
		transform: scale(1.1) translateX(0px);
		opacity: 1;
	}

	60% {
		transform: translate(0, 12px);
	}

	100% {
		transform: scale(1) translateX(0px) translate(0, 0px);
		opacity: 1;
	}
}

.animate-expand-float {
	animation: expandFloat 2s ease-in-out forwards, float 5s ease-in-out infinite;
}

/* Keyframe animation for spinning effect */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate-spin {
	animation: spin 8s linear infinite;
	position: relative;
}

/* Keyframe animation for reverse spinning effect */
@keyframes spin-reverse {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

.animate-spin-reverse {
	animation: spin-reverse 12s linear infinite;
	position: absolute;
	transform: translate(-50%, -50%);
}
